<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355241989593-0cr1d7iak5oai7aav96pjl5d8u1oavl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355241989593-0cr1d7iak5oai7aav96pjl5d8u1oavl2</string>
	<key>API_KEY</key>
	<string>AIzaSyAkFBtmwGP7XybWkV8K87cFlOaHGllxq84</string>
	<key>GCM_SENDER_ID</key>
	<string>355241989593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starMovieApp.prod</string>
	<key>PROJECT_ID</key>
	<string>star-movie-app-6ef0a</string>
	<key>STORAGE_BUCKET</key>
	<string>star-movie-app-6ef0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355241989593:ios:38bd9aa021b207d355b5c8</string>
</dict>
</plist>